name: uptick-talent-lms-frontend-ci

on:
  pull_request: # run on PRs to main and dev
    branches: [main, dev]
    paths:
      - "frontend/**"
  push: # run on pushes to main and dev
    branches: [main, dev]
    paths:
      - "frontend/**"

jobs:
  checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "yarn"
          cache-dependency-path: frontend/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run linter
        run: yarn lint

      - name: Format code
        run: yarn format

      - name: Run formatter check
        run: yarn format:check

      - name: Run tests
        run: yarn test
